h1 {
  color: crimson;
}
p {
  color:azure;
}
.powereyeblue  {
  color:aquamarine
}
html {
  background-color: rgb(63, 68, 77)
}
img {
  margin-left: 400px;
}

#recordsofkelsey {
  color: rgb(134, 0, 27);
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
} 
