
body {
  color: azure;
  font-size: 20px;
}
h1 {
  color: crimson;
}
p {
  color:azure;
}
.power-eye-blue  {
  color: #70EEEB
}
html {
  background-color: #626972
}

h3 {
  color: #AA7DCE;
}
h2 {
  color: #AA7DCE;
}
img {
  margin-left: 400px;

}

#records-of-kelsey {
  color: rgb(5, 72, 172);
  font-family: 'Dancing Script', cursive;
  font-size: 90px;
} 
.subheading {
  font-size: 60px;
}
#record-list {color: rgb(190, 1, 39);
font-size: 25px;
}

#return {
  font-size: 20px;
  color: orange;}